@use '../../styles/utils' as utils;

.themeToggle {
  position: absolute;
  top: 50px;
  right: 10px;

  height: 100%;
  padding: 10px;

  @include utils.on-tablet {
    position: static;
    padding: 10px;
    border-left: var(--default-border);
  }

  @include utils.on-desktop {
    position: static;
    padding: 17px;
  }
}

.switch {
  display: block;
  width: 60px;
  height: auto;
  input {
    display: flex;
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.slider {
  cursor: pointer;

  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  padding: 0 8px;
  border-radius: 30px;

  background-color: #ccc;

  transition: background-color utils.$animation-duration ease;

  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    bottom: 2px;
    left: 2px;

    width: 26px;
    height: 26px;
    border-radius: 50%;

    background-color: var(--color-white);

    transition: transform utils.$animation-duration ease;
  }

  &__sun,
  &__moon {
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 100%;

    font-size: 16px;
    line-height: 30px;
  }
}

.switch input:checked + .slider {
  background-color: #313237;
}

.switch input:checked + .slider::before {
  transform: translateX(30px);
}
